# ignore compiled python files
*.pyc

# ignore .ropeproject dirs
.ropeproject/


# ignore emacs temp files
*~
*\#*

*nohup.out
.DS_Store
rand
project_map.tmproj

/solr_home/Wikipedia_importer/JavaLibrary1/nbproject/private/
/solr_home/Wikipedia_importer/solr_wikipedia/nbproject/private/
/solr_home/Wikipedia_importer/wikipedia_solr/nbproject/private/
/solr_home/Wikipedia_importer/wikipedia_solr/build/
/solr_home/Wikipedia_importer/wikipedia_solr/dist/